html, 
body {
  margin: 0;
  padding: 0;
}

:root {
  font-size: calc(10px + 0.5vw);
}

@font-face {
  font-family: Rubik-semiBold;
  font-display: auto;
  src: local("Rubik-semiBold"), url("/fonts/Rubik-SemiBold.ttf");
}

@font-face {
  font-family: Rubik;
  font-display: auto;
  src: local("Rubik"), url("/fonts/Rubik-Regular.ttf");
}


/* general classes */
.grid {
  position: absolute;
  left: 0;
  display: grid;
  grid-template-rows: 1fr 7.3fr 0.7fr;
}

.paper-clip-title {
  background-image: url("@/assets/colorNeutralAssets/home_header.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2rem 0rem 1rem 2rem;
  height: fit-content;
  justify-self: center;
  box-sizing: border-box;
  width: 24rem;
}

.paper-clip-content {
  width: 24rem;
  font-size: 1.7rem;
  border: none;
  background-color: transparent;
  text-align: center;
  padding: 0.6rem 1.3rem 0.8rem;
  margin-top: 0.5rem;
  border-radius: 0.8rem;
  box-sizing: border-box;
}

.svg {
  position: absolute;
  z-index: -1;
}

